
<table class="index prices">
  <thead data-hook="prices_header">
    <tr>
      <th><%= Spree::Price.human_attribute_name(:currency) %></th>
      <th><%= Spree::Price.human_attribute_name(:amount) %></th>
      <th class="actions"></th>
    </tr>
  </thead>

  <tbody>
  <% if @prices.present? %>
  <% @prices.each do |price| %>
    <tr id="<%= spree_dom_id price %>" data-hook="prices_row" class="<%= "deleted" if price.deleted? %> <%= cycle('odd', 'even')%>">
      <td><%= price.currency %></td>
      <td class="align-right"><%= price.money.to_html %></td>
      <td class="actions">
        <% if can?(:update, price) %>
          <%= link_to_edit(price, :no_text => true) unless price.deleted? %>
        <% end %>
        <% if can?(:destroy, price) %>
          &nbsp;
          <%= link_to_delete(price, :no_text => true) unless price.deleted? %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

