<nav>
  <ul class="tabs" data-hook="admin_order_tabs">
    <% if checkout_steps.include?("address") %>
      <li class="<%= "active" if (current == "Customer Details") %>" data-hook='admin_order_tabs_customer_details'>
        <% if can?(:update, @order) %>
          <%= link_to_with_icon 'user', Spree.t(:customer), edit_admin_order_customer_url(@order) %>
        <% else %>
          <%= link_to_with_icon 'user', Spree.t(:customer), admin_order_customer_url(@order) %>
        <% end %>
      </li>
    <% end %>

    <li class="<%= "active" if current == "Shipments" %>" data-hook='admin_order_tabs_order_details'>
      <%= link_to_with_icon 'edit', Spree::Shipment.model_name.human(count: :other), edit_admin_order_url(@order) %>
    </li>
  </ul>
</nav>
  