<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
 
  <head data-hook="admin_inside_head">
    <%= render :partial => 'spree/admin/shared/head' %>
  </head>

  <body class='admin'>
    <%= render partial: 'spree/vendor/navigation' %>

    <%= render :partial => 'spree/vendor/content_header' %>

    <div class='main-content' id='wrapper' data-hook>
    
      <div class="container">
        <div class="row">
          <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %>" id="content" data-hook>
            <div class="<%= if content_for?(:sidebar) then 'twelve' else 'sixteen' end %> columns">
              
              <%= yield %>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
